@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fraunces:opsz,wght,SOFT@9..144,600,50&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-garamond: "EB Garamond", serif;
    --font-fraunces: "Fraunces", serif;
    --font-inter: "Inter", sans-serif;
}

html {
    background-color: #F5F5F5;
}

/* nav styles */

.menu {
  background-color: purple;
  border: none;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #d1d1d1;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 500px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .menu {
    display: none;
  }
}