---
import Layout from "../layouts/layout.astro";
---

<Layout title="mitimotinfo">
  <section class="text-center py-16">
    <h1 class="text-4xl font-garamond font-medium mb-4">se paciente</h1>
    <p class="text-1xl text-purple-400 font-inter mb-4">estoy trabajando en la página, pronto será más bonita</p>
  </section>
</Layout>