---
import Layout from "../layouts/layout.astro";
---

<Layout title="mitiblog">
  <section class="text-center py-16">
    <h1 class="text-4xl font-garamond font-medium mb-4">blog</h1>
    <p class="text-1xl text-purple-400 font-inter font-bold">NADA</p>
    <p class="text-1xl text-purple-400 font-inter mb-4">por ahora</p>
  </section>
</Layout>