---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mitimota">
  <section class="text-center py-16">
    <h2 class="text-4xl font-bold mb-4">mitimota sigue mitimoteando</h2>
    <p class="text-lg text-purple-400 mb-8">sitio en construcción</p>
  </section>
</Layout>