---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>mitimota</title>
	</head>
	<body style="font-family: sans-serif; padding: 2rem;">
    	<h1>mitimota</h1>
    	<p>viva mitimota</p>
	</body>
</html>