---
import Layout from "../layouts/layout.astro";
---

<Layout title="mitimota">
  <section class="text-center py-16">
    <div class="hero bg-[#f5f5f5] min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-4xl font-garamond font-medium">mitimota sigue mitimoteando</h1>
            <p class="py-6 text-purple-400 font-inter">
              sitio en construcción
            </p>
        </div>
      </div>
    </div>
  </section>
</Layout>