---
import Menu from './menu.astro';
import Navigation from './navigation.astro';
---
<header>
  <h1 class="text-2xl px-2 font-fraunces">mitimota</h1>
  <nav>
    <Menu />
    <Navigation />
  </nav>
</header>