---
---
<div id="main-menu" class="nav-links">
    <a class="text-purple-500" href="/">home</a>
    <a class="text-indigo-500" href="/about/">about</a>
    <a class="text-emerald-500" href="/blog/">blog</a>
</div>