---
---
<div id="main-menu" class="nav-links">
    <a class="text-purple-500 px-2" href="/">home</a>
    <a class="text-indigo-500 px-2" href="/about/">about</a>
    <a class="text-emerald-500 px-2" href="/blog/">blog</a>
</div>