---
import "../styles/global.css";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-900">

    <header class="p-4 border-b border-gray-200">
      <h1 class="text-2xl font-fraunces">mitimota</h1>
      <a class="font-inter" href="/">home</a>
      <a class="p-4 font-inter" href="/about/">about</a>
      <a class="font-inter" href="/blog/">blog</a>
    </header>
    <main class="p-4">
      <slot />
    </main>
    <footer class="p-4 border-t border-gray-200 text-center font-inter text-sm text-gray-500">
      © 2025 Mitimota
    </footer>
  </body>
</html>